# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Data
data/uploads/*
*.db
dump.rdb

# Logs
*.log
*.err
*.out

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp

# Node
node_modules/
build/
.env.local
-e 
# Environment files
*.env
*.env.*
